.tripjs-overlay {
  /*-webkit-filter: blur(2px);*/
  /*filter: blur(2px);*/
  height: 100%;
  width: 100%;
}

.tripjs-overlay, .tripjs-container {
  position: absolute;
  z-index: 10000;
}

.tripjs-container {
  z-index: 10001; 
}

.tripjs-blured-overlay{

}

.tripjs-colored-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 10001;
}
.tripjs-active-slide {
  -webkit-text-fill-color: initial !important;
  margin: 0 !important;
}

.tripjs-helper-actions{
  min-width: 100px;
}
.tripjs-helper-actions > div{
  cursor: pointer;
}

.tripjs-helper-container {
  position: relative;
  background: #fff;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
}

.tripjs-helper {
  position: absolute;
}
.tripjs-helper.top {
  bottom: 100%;
  left: 50%;
}
.tripjs-helper.bottom {
  top: 100%;
  left: 50%;
}
.tripjs-helper.left {
  top: 50%;
  right: 100%;
}
.tripjs-helper.right {
  top: 50%;
  left: 100%;
}

.tripjs-helper.top .tripjs-helper-container {
  left: -50%;
  margin-bottom: 20px;
}
.tripjs-helper.bottom .tripjs-helper-container {
  left: -50%;
  margin-top: 20px; 
}
.tripjs-helper.left .tripjs-helper-container {
  top: -50%;
  margin-right: 20px;
}
.tripjs-helper.right .tripjs-helper-container {
  top: -50%;
  margin-left: 20px;
}

/* ACTIONS */
.tripjs-helper-done,
.tripjs-first-slide .tripjs-helper-done,
.tripjs-first-slide .tripjs-helper-prev,
.tripjs-last-slide .tripjs-helper-skip,
.tripjs-last-slide .tripjs-helper-next
{
  display: none;
}

.tripjs-last-slide .tripjs-helper-done,
.tripjs-helper-next {
  display: inline-block;
}